:root{
	font-size: 62.5%;
}

body {
	--color-text: #4800d4;
    --color-bg: #e8e8e8;
    --color-link: #ec1752;
    --color-link-hover: #eb1851;
    --color-info: #272526;
    --grid-item-bg: #f1f1f1;
    --color-close: #ec1752;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	min-height: 100vh;
	color: #57585c;
	color: var(--color-text);
	background-color: #fff;
	background-color: var(--color-bg);
}